:host {
  flex-grow: 1;
}

.movie-container {
  display: flex;
}

.movie-thumbnail:hover {
  cursor: pointer;
}

.movie-details {
  margin-left: 20px;
  flex-grow: 1;
}

.movie-details-label {
  font-weight: bold;
}

.movie-stats {
  display: flex;
}

.movie-stats p {
  margin-right: 10px;
}

.movie-watch-button-container {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-watch-button-container button:hover {
  cursor: pointer;
}
