<div class="sample-upload-button-container">
  <button (click)="uploadListHandler()">Upload sample movies list</button>
</div>
<div *ngIf="movies.length || filterChecked" class="movies-list-actions-container">
  <button (click)="clearList()">Clear list</button>
  <div>
    <label>
      Show favourites only
      <input #favFilter type="checkbox" name="fav-filter" (click)="favouritesFilterHandler(favFilter.checked)">
    </label>
  </div>
  <div>
    Sort
    <mat-form-field class="sorting-form">
      <mat-select #sort (selectionChange)="sortingHandler(sort.value)" [(value)]="DEFAULT_SORTING_OPTION">
        <mat-option *ngFor="let option of SORTING_OPTIONS" [value]="option.value">{{ option.label }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    Show: 
    <select #perPage (change)="perPageHandler(perPage.value)">
      <option *ngFor="let option of PAGINATION_OPTIONS" [value]="option">{{ option }}</option>
    </select>
    movies per page
  </div>
  <div>
    Display: 
    <select #display (change)="displayHandler(display.value)">
      <option *ngFor="let displayOption of DISPLAY_OPTIONS" [value]="displayOption">{{ displayOption }}</option>
    </select>
  </div>
</div>

<div *ngIf="!movies.length" class="empty-container"><h3>No movies added to the list yet</h3></div>

<ul class="movies-list-container" [class.tiles-display]="tilesDisplayChosen">
  <li *ngFor="let movie of movies" class="single-movie-container" [class.favourite]="movie.favourite">
    <app-movie [movie]="movie"></app-movie>
    <button class="delete-button" title="delete movie" (click)="delete(movie.id)">x</button>
    <div class="movies-list-fav-button-container">
      <button
        class="fav-button"
        (click)="favouritesHandler(movie.id, movie.favourite)"
      >
        {{ movie.favourite ? 'Remove from favourites' : 'Add to favourites' }}
      </button>
    </div>
  </li>
</ul>

<app-pagination
  *ngIf="movies.length"
  [pagesRange]="pagesRange"
  [currentPage]="currentPage"
  (currentPageHandler)="currentPageHandler($event)"
>
</app-pagination>
