<div class="sample-upload-button-container">
  <button (click)="uploadListHandler()">Upload sample movies list</button>
</div>
<app-movie-list-panel 
  *ngIf="movies.length || filterChecked"
  (clearList)="clearList($event)"
  (favouritesFilterHandler)="favouritesFilterHandler($event)"
  (sortingHandler)="sortingHandler($event)"
  [sortingOptions]="SORTING_OPTIONS"
  [defaultSortingOption]="DEFAULT_SORTING_OPTION"
  (perPageHandler)="perPageHandler($event)"
  [paginationOptions]="PAGINATION_OPTIONS"
  [displayOptions]="DISPLAY_OPTIONS"
  (displayChanged)="onDisplayChanged($event)"
></app-movie-list-panel>

<div *ngIf="!movies.length" class="empty-container"><h3>No movies added to the list yet</h3></div>

<ul class="movies-list-container" [class.tiles-display]="tilesDisplayChosen">
  <li *ngFor="let movie of movies" class="single-movie-container" [class.favourite]="movie.favourite">
    <app-movie [movie]="movie"></app-movie>
    <button class="delete-button" title="delete movie" (click)="delete(movie.id)">x</button>
    <div class="movies-list-fav-button-container">
      <button
        class="fav-button"
        (click)="favouritesHandler(movie.id, movie.favourite)"
      >
        {{ movie.favourite ? 'Remove from favourites' : 'Add to favourites' }}
      </button>
    </div>
  </li>
</ul>

<app-pagination
  *ngIf="movies.length"
  [elementsPerPage]="moviesPerPage"
  [totalElementsCount]="totalMoviesCount"
  [currentPage]="currentPage"
  (currentPageHandler)="currentPageHandler($event)"
  (calculatedPagesRange)="calculatedPagesRange($event)"
>
</app-pagination>
