<div class="movie-input-container">
  <label class="movie-input-label">Enter the movie link or id (youtube or vimeo):
    <input
      class="movie-input"
      [(ngModel)]="movieInput"
      placeholder="Movie link or id"
      autofocus
      (ngModelChange)="handleInputChange()"
      (keyup.enter)="handleSubmit()">
  </label>
  <button (click)="handleSubmit()" class="movie-input-submit-button">Submit</button>
</div>
<div *ngIf="searchSubmit" class="search-message-container">
  <p>Youtube search {{ searchCompleted.youtube ? 'completed' : 'in progress' }}. {{ messages.youtube }}</p>
  <p>Vimeo search {{ searchCompleted.vimeo ? 'completed' : 'in progress' }}. {{ messages.vimeo }}</p>
</div>
<div *ngIf="messages.general" class="error-message-container">
  {{ messages.general }}
</div>
